<div class="container">

    <div class="row mb-5">
        <div class="col-md-12">
            <h2 class="text-center">Lista de clientes</h2>
        </div>
    </div>

    <div class="row mt-6 mb-5 d-flex justify-content-center">
        <div class="col-md-8">

            <table class="table table-hover table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome Cliente</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Número</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">CEP</th>
                        <th scope="col">Município</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let item of listaClientes'>
                        <th>{{item.nome}}</th>
                        <td>{{item.endereco}}</td>
                        <td>{{item.numero}}</td>
                        <td>{{item.bairro}}</td>
                        <td>{{item.cep}}</td>
                        <td>{{item.municipio.nome}}</td>
                        <td>{{item.municipio.uf}}</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
