<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 mt-5">
            <h1 >Menu</h1>
            <form class="shadow p-3 mb-5 bg-white rounded">
                <button type="button" class="btn btn-primary  mb-0 m-3" routerLink="/cadastrar">Cadastrar Cliente</button>
                <button type="button" class="btn btn-primary  mb-0 m-3" routerLink="/cadastroMunicipio">Cadastrar Município</button>
                <button type="button" class="btn btn-primary  mb-0 m-3" routerLink="/consultaCliente">Consultar Cliente</button>
                <button type="button" class="btn btn-primary  mb-0 m-3" routerLink="/consultaMunicipio">Consultar Município</button>
                <button type="button" class="btn btn-primary  mb-0 m-3" routerLink="/tabela">Lista</button>
            </form>
        </div>
    </div>
</div>
